name: "Github Action Linter"

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    name: Run all workflow linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: p6m7g8-actions/checkout@main

      - name: Run Shellcheck
        uses: ./
